<!-- Footer -->
<footer class="pt2 pb2">
  <div class="container align--center">
    <p>W5723 Lake View Chester, CA 96020</p>
    <p>
      Design by
      <a href="https://www.papayatemplates.com" class="link">Papaya.</a>
    </p>
    <ul class="no-bullets list--inline mt1">
      <li class="mr1">
        <a href="https://www.facebook.com" class="link"
          ><img class="icon" src="../../../assets/img/facebook.svg" alt="Facebook"
        /></a>
      </li>
      <li class="mr1">
        <a href="https://www.twitter.com" class="link"
          ><img class="icon" src="../../../assets/img/twitter.svg" alt="Twitter"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com" class="link"
          ><img class="icon" src="../../../assets/img/instagram.svg" alt="Instagram"
        /></a>
      </li>
    </ul>
    <p>&copy; Camp Chippewa</p>
  </div>
</footer>
