<!-- Header -->
<header class="pt2 pb1 align--center">
  <div class="container">
    <p>Welcome to</p>
    <h1 title="Camp Chippewa">
      <img class="logo" src="../../../assets/img/logo.svg" alt="Camp Chippewa" />
    </h1>
  </div>
</header>
